[Unit]
Description=Barcode Rattler CAmera

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/opt/barcoderattler/startrattler_camera
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

